.Card{
  height: inherit;
  border: 2px solid $secundary-color;
  border-radius: 6px;
  background-color: $background-light;
  margin-bottom: 14px;
  &__title{
    @include title($Font1, h2);
    color: black;
    text-align: center;
    padding-top: 10px;
  }
  &__date{
    @include title($Font2, h6);
    text-align:center;
    margin: 5px 0 10px 0;
  }
  &__description{
    @include title($Font2, h4);
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
}

@include media(tablet){
  .Card{
    border-width: 4px;
    border-radius: 18px;
    &__title{
      @include font-size(25px)
    }
    &__date{
      @include font-size(18px);
      margin:0;
    }
    &__description{
      margin-top: 10px;
      @include font-size(21px);
    }
  }
}