.Experience{
  width: 100%;
  height: inherit;
  padding-bottom: 1px;
  background-color: $background-dark;
  &__title{
    padding-top: 20px;
    text-align: center;
    @include title($Font1, h2);
    color: $primary-color;
  }
  &__cards{
    padding: 0 10px;
    padding-top: 20px;
  }
}

@include media(tablet){
.Experience{
  &__title{
    @include font-size(27px);
  }
  &__cards{
    padding: 25px 22px;
  }
}
}

@include media(desktop-s){
  .Experience{
    &__title{
      @include font-size(32px)
    }
    &__cards{
    padding: 25px 200px;
    }
  }
}