.Footer{
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text{
    @include title($Font2, h4);
    color: $white-color;
  }
}

@include media(tablet){
.Footer{
  &__text{
    @include font-size(21px);
    font-weight: 600;
  }
}
}