.Header{
  background-color: $primary-color;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title{
    margin-top: 12px;
    @include title($Font1, h1);
    @include media(tablet){
      margin-top: initial;
      @include font-size(28px);
    }
  }
}


@include media(desktop-s){
  .Header{
  height: 80px;
    &__title{
      @include font-size(36px);
    }
  }
}