.Hero{
  background-color: $primary-color;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 20px;
  &__text{
    width: 44%;
    text-align: center;
    @include title($Font1 ,h2);
    text-transform: none;
  }
  &__img{
    width: 40%;
    text-align: center;
    object-fit: cover;
    &--profile{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px solid $secundary-color;
    }
    &--social{
      display: flex;
      justify-content: space-evenly;
      &--github, &--linkedin{
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        margin-right: 5px;
        border: 1px solid $secundary-color;
      }
    }
    &--linkedin{
      margin-right: 10px;
    }
  }
}

@include media(tablet){
  .Hero{
    padding: 18px 22px;
    height: 200px;
    &__text{
      @include font-size(27px);
    }
    &__img{
      &--profile{
        height: 135px;
        width: 135px;
        border-width: 3px;
      }
      &--social{
        justify-content: center;
        &--github, &--linkedin{
          border-width: 2px;
          margin-right: 10px;
          width: 46px;
          height: 46px;
        }
      }
      &--linkedin{
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}

@include media(desktop-s){
  .Hero{
    padding: 14px 200px;
    height: 240px;
    justify-content: space-between;
    &__text{
      @include font-size(32px);
    }
    &__img{
      height: inherit;
      &--profile{
        height: 150px;
        width: 150px;
        border-width: 3.5px;
      }
      &--social{
        &--github, &--linkedin{
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}