.Objective{
  width: calc(100%-20px);
  height: 150px;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: $background-light;
  &__title{
    text-align: center;
    @include title($Font1 ,h2);
    color: $primary-color;
  }
  &__parrafo{
    margin-top: 10px;
    text-align: center;
    @include title($Font2, h4)
  }
}

@include media(tablet){
  .Objective{
    height: 170px;
    padding: 25px 22px;
    &__title{
      @include font-size(27px);
    }
    &__parrafo{
      @include font-size(21px)
    }
  }
}